.bg-img {
    background-size: cover;
    display: flex;
    z-index: -1;
}

.text-img {
    top: 37%;
    position: absolute;
    left: 35%;
    transform: translate(-50%, -50%)

}

.text-img h1,h2 {
    color: rgb(255, 233, 247);
	font-size: 36px;
}

#digital-clock{
	color: #ffffff;
	font-size: 6vh;
	position: absolute;
	left: 70%;
}

.container {
	background-color: white;
    width: 400px;
    height: 300px;
    position: absolute;
    margin-top: -400px;
    display: flex;
	align-items: center;
	left: 62%;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: rgb(0 0 0 / 24%) -4px 3px 8px;
    z-index: 1;
}

.event{
	width: 100%;
	height: 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.event1{
	width: 100%;
	height: 25rem;
	background-color: #b3d9af;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	gap: 5rem;
}

.signup{
	width: 100%;
	height: 20rem;
	background-image: url('/Img/Newsletter-Image-Large_0\ \(1\).jpg');
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px; 

}

button {
	background-color: #04AA6D;
	border-radius: 30%;
	color: white;
	padding: 10px 22px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
  }
