:root {
  --mint-green: #a4ccc6;
  --white: #ffffff;
}

/*nav,
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  gap: 2em;
}
nav a,
li {
  text-decoration: none;
  color: white;
}*/
#navbar {
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
}

#navbar::before {
  content: "";
  background: var(--mint-green);

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 20px;
}

#logo img {
  height: 56px;
  margin: 6px 8px;
}

/* Navigation Bar: List Styling */
#navbar ul {
  display: flex;
  font-family: "Quicksand", sans-serif;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
  color: var(--white);
}

#navbar ul li a {
  /*color: hsl(0, 0%, 100%);*/
  color: white;
  display: block;
  padding: 9px 40px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: #a4ccc6;
  background-color: white;
}

#shoppingBags {
  right: 0px;
  padding-left: 45%;
}
.fa-shopping-bag {
  color: white;
}
.content {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

#title,
h2,
p {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
body,
footer,
header {
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: auto;
  border: 2px solid gainsboro;
}
.card img {
  width: -webkit-fill-available;
  height: auto;
}
#cardsCollection {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0;
  padding: 0px;
}
footer h1 {
  background-color: #a4ccc6;
  margin: 0px;
  text-align: center;
}
header {
  background-color: #a4ccc6;
}

.orderCardSection {
  padding: 0px;
  margin: 0px;
  display: flex;
}

.orderCardSection button {
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1.5px solid #a4ccc6;
  width: 100%;
}
.orderCardSection button:hover {
  background-color: #a4ccc6;
  color: white;
}
.pots {
  font-size: 0.7em;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin: 0 1em;
}

aside h1 {
  font-family: "Quicksand", sans-serif;
  border: 2px solid #a4ccc6;
  background-color: #a4ccc6;
  color: white;
  padding-left: 15px;
  margin-top: 0px;
}
aside {
  margin-left: 1em;
  margin-right: 1em;
  width: 20%;
}

.card h2,
p {
  text-align: left;
  padding-left: 15px;
}
.plantName {
  margin-bottom: 0px;
}
.plantDescription {
  margin-top: 0px;
  margin-bottom: 1.5em;
}
#results {
  text-align: center;
}
footer {
  background-color: rgb(186, 219, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
footer p {
  font-size: 16px;
}
.fa {
  padding: 5px 30px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  color: white;
}
.fa-google {
  color: white;
}
#logo p {
  font-size: 4em;
  margin: 0px;
}
@media screen and (max-width: 900px) {
  aside {
    width: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .card {
    width: 40%;
    gap: 0px;
  }
  footer {
    margin-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  aside {
    width: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  #cardsCollection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card {
    width: 100%;
    gap: 0px;
  }
  footer {
    margin-top: 20px;
  }
}
